@media (min-width: 1024px) {
  main {
    max-width: 120rem;
  }

  .container {
    display: grid;
    grid-template-areas:
      "header clients"
      "lists clients";
    grid-template-columns: 1fr 1fr;
  }

  .container > header {
    grid-area: header;
  }

  .container > header > .title {
    font-size: 4.5rem;
  }

  .container > header > .description {
    width: 90%;

    font-size: 1.9rem;
    
    margin-bottom: 2rem;
  }

  .container > section.lists {
    grid-area: lists;
    
    margin: 0;
  }

  .container > section.lists > ul > .list {
    margin: 1rem 0;
  }

  .container > section.lists > ul > .list.-first {
    margin: 0;
  }

  .container > section.lists > ul > .list.-last {
    margin-bottom: 0;
  }

  .container > section.lists > ul > .list > .description {
    font-size: 1.5rem;
  }

  .container > section.clients {
    grid-area: clients;

    position: relative;
  }

  .container > section.clients > .square {
    width: 60%;
  }

  .container > section.clients > .square.-first {
    position: absolute;
    left: 40%;
  }

  .container > section.clients > .square.-first > .info > .informations > .description.-first {
    width: 90%;
  }

  .container > section.clients > .square.-second {
    position: absolute;
    top: 57%;
  }
}
