body {
  background-color: var(--light-white);

  font-family: "Sora", sans-serif;

  width: 100%;
  height: 100%;
  
  display: flex;
  align-items: center;
  min-height: 100vh;
  
  /* object-fit: fill; */
}

main {
  max-width: 40rem;
  
  margin: 0 auto;
  padding: 3rem 2rem 0;
}

.container > header > .div-image {
  background-color: var(--yellow);
  
  display: flex;

  width: 5rem;
  height: 5rem;
  
  border-radius: 100%;

  padding: .8rem;

  transition: .3s;
}

.container > header > .div-image:hover {
  transform: scale(1.7);
}

.container > header > .title {
  margin: 1.5rem 0;
}

.container > header > .description {
  width: 95%;

  font-size: 1.7rem;
  
  color: var(--dark-gray);

  line-height: 3rem;
}

.container > section.lists {
  margin: 2rem 0;
}

.container > section.lists > ul > .list {
  display: flex;
  align-items: center;
  gap: 1rem;

  color: var(--dark-gray);
  
  font-size: 1.3rem;
  
  margin: 2rem 0;
}

.container > section.lists > ul > .list > img {
  transition: .3s;
}

.container > section.lists > ul > .list > img:hover {
  transform: scale(1.7);
}

.container > section.clients > .square {
  background-color: var(--white);
  
  margin-bottom: 2rem;
  padding: 2rem 3rem;

  border-radius: 1rem;
}

.container > section.clients > .square.-second {
  margin-bottom: 0;
}

.container > section.clients > .square > .info > .company-and-stars {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.container > section.clients > .square > .info > .company-and-stars > .stars > img {
  transition: .3s;
}

.container > section.clients > .square > .info > .company-and-stars > .stars > img:hover {
  transform: scale(1.7);
}

.container > section.clients > .square > .info > .informations {
  margin-top: 1.5rem;
}

.container > section.clients > .square > .info > .informations > .name {
  font-size: 1.6rem;
}

.container > section.clients > .square > .info > .informations > .description {
  line-height: 2.5rem;

  margin-top: .5rem;

  color: var(--dark-gray);
}

.container > section.clients > .square > .info > .informations > .description.-first {
  font-size: 1.4rem;
}

.container > section.clients > .square > .info > .informations > .description.-second {
  width: 90%;

  font-size: 1.4rem;
}

